{% extends "layout.html" %}
{% load humanize %}

{% block title %}Edit reply{% endblock %}

{% block comment %}
<div class="max-w-2xl mx-auto px-4 mt-4">
    <form class="mb-6" method="POST" action="{% url 'edit_comment' post.id reply_to_edit.id %}">
        {% csrf_token %}
        <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
            {{ form.comment }}
        </div>
        <button type="submit"
            class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center dark:bg-red-800 text-white rounded-lg focus:ring-4 focus:ring-red-700 hover:bg-red-700">
            Edit Reply
        </button>
        <a href="{% url "comment" post.id %}"
            class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center dark:bg-cyan-800 text-white rounded-lg focus:ring-4 focus:ring-cyan-700 hover:bg-cyan-700">
            Back
        </a>
    </form>
</div>
{% endblock %}