{% extends "garage/chat.html" %}
{% load humanize %}

{% block title %}Delete post{% endblock %}

{% block registerform %}


<div class="mt-5 max-w-2xl mx-auto bg-cyan-800 rounded-xl shadow-md p-6 mb-8 border border-cyan-950">
                <!-- Header -->
                <div class="flex items-center justify-between mb-4">
                    <div class="flex items-center gap-3">
                        <img src="{{post.user.profile.image.url}}" alt="avatar" class="w-10 h-10 rounded-full object-cover" onerror="this.onerror=null; this.src='https://static.vecteezy.com/system/resources/thumbnails/020/765/399/small_2x/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg';">
                        <div>
                            <h3 class="text-sm font-semibold text-gray-300">Posted by <span class="text-white">{{post.user.username}}</span>
                            {% if post.updated_at|date:"U" != post.created_at|date:"U" %}
                            <span class="text-xs ms-2 text-gray-400">
                              (edited {{post.updated_at|naturaltime}})
                            </span>
                            {% endif %}
                            </h3>
                            <p class="text-xs text-gray-400">{{post.created_at|naturaltime}}</p>
                        </div>
                    </div>
                    <span class="text-xs font-semibold bg-gray-800 text-white px-3 py-1 rounded-full">#{{post.flair}}</span>
                </div>
                
                <!-- Title -->
                <h2 class="text-xl font-semibold text-white mb-2">{{post.title}}</h2>
                
                <!-- Body -->
                <p class="text-gray-300 leading-relaxed mb-4">
                    {{post.description}}
                </p>
                
            <!-- Optional Image -->
            <img src="{{post.image.url}}" alt="forum image" class="w-full rounded-lg mb-4 shadow-sm">
            </div>

<div class="mt-10 flex items-center justify-center bg-cyan-950 px-4">
  <div class="bg-cyan-900 text-white p-8 rounded-xl shadow-lg w-full max-w-md space-y-6">
    <h2 class="text-2xl font-semibold text-center">Confirm Delete</h2>
    <form method="POST" class="space-y-4">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="flex justify-center space-x-5">
        <button type="submit" class="bg-red-700 text-white px-4 py-2 rounded-lg hover:bg-red-600 transition">
          Delete
        </button>
        <a href="{% url 'chat' %}" class="bg-cyan-800 text-white px-4 py-2 rounded-lg hover:bg-cyan-700 transition">
          Back
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
